.matchheader {
  background-color: #0E131F;
  box-shadow: 0 0 10px 1px #00000055;
  border-bottom: 1px solid #7ec929bb;
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  place-items: center;
  padding: 0.07rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
}
.matchheader__container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}
.matchheader__vs {
  position: absolute;
  font-size: 0.7rem;
  color: #fff569;
  transform: rotate(270deg);
}
.matchheader__name {
  color: #dee3e9;
  padding: 0.3rem 0.2rem;
  font-weight: 400;
  font-size: 0.8rem;
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  transform: rotate(180deg);
}
.matchheader__name--home {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 0 0rem;
  align-self: flex-end;
  color: #ffc188;
}
.matchheader__name--away {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: flex-start;
  color: #88fff5;
}
.matchheader__image {
  position: absolute;
  left: -1rem;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  opacity: 0.15;
  -webkit-filter: drop-shadow(0px 0px 5px rgba(150, 150, 150, 0.7));
  filter: drop-shadow(0px 0px 5px rgba(150, 150, 150, 0.7));
}
.matchheader__image--home {
  grid-row: 2/3;
  grid-column: 1/2;
  bottom: 0;
}
.matchheader__image--away {
  grid-row: 2/3;
  grid-column: 2/3;
  top: 0;
}