$color_back: #0E131F;
$color_title: #183c4d;
$color_mark: #59546C;
$color_font: #8B939C;
$color_select: #FF0035;

.matchdetails {
    //display: none;
    position: relative;
    top: 0;
    grid-row: 5 / 6;
    grid-column: 1 / span 7;
    width: 100%;
    height: 0rem;
    margin-top: 0.4rem;
    background-color: $color_back;
    flex-direction: column;
    transform-origin: top;
    transition: all 0.5s;
    overflow: auto;

    &__true {
        height: 38rem;
    }

    &__list {
        padding: 0;
    }

}

.headerdetails {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    background-color: $color_title;
    border-top: 1px solid #7ec929BB;
    border-bottom: 1px solid #7ec929BB;
    z-index: 3;

    &__button {
        width: 2.3rem;
        height: 2.3rem;
        background-color: transparent;
        border: none;
        background-repeat: no-repeat;
        background-size: 1.8rem;
        background-position: center;
        background-image: url('../../assets/backbutton.svg');
        transition: all 0.2s;
        cursor: pointer;

        &:hover {
            background-color: #e9e9e945;
            border-radius: 50%;
        }
    }

    &__right {
        transform: rotate(180deg);
    }

    &__title {
        color: $color_font;
    }


}


.narration {
    display: grid;
    grid-template-columns: 2.5rem 2.5rem 1fr;
    grid-auto-flow: column;
    font-size: 0.7rem;
    text-align: left;
    background-color: #8B939C22;
    border-top: 1px solid #0E131F35;
    border-bottom: 1px solid #0E131F65;
    margin-bottom: 0.2rem;
    place-items: center;
    padding: 0.1rem;
    gap: 0.2rem;

    &__minute {
        width: 2rem;
        height: 2rem;
        justify-self: center;
        align-self: center;
        grid-column: 1 / 2;
        border: 1px solid #59546C;
        text-align: center;
        padding: 0.6rem 0.2rem 0rem 0.2rem;
        color: #c2fd7fbb;

    }

    &__image {
        width: 2rem;
        height: 2rem;
        grid-column: 2 / 3;
        background-color: #acbf65;
        border-radius: 50%;
        border: 1px solid #daf7fc;

    }

    &__comment {
        grid-column: 3 / 4;
        text-align: left;
        justify-self: flex-start;

    }
}

.matchstats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 540px) {
        grid-template-columns: 1fr 2fr 1fr;
        font-size: 0.9rem;
    }


    &__name {
        background-color: #00000099;
        text-shadow: 0px 0px 1px #8a8a8a;
    }

    &__homename {
        grid-column: 1 / 2;
    }

    &__awayname {
        grid-column: 3 / 4;
    }

    &__statisticname {
        display: flex;
        flex-direction: column;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        color: #80eff7;
    }

    &__statistichome {
        display: flex;
        flex-direction: column;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        color: #ccf371;

    }

    &__statisticaway {
        display: flex;
        flex-direction: column;
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        color: #ccf371;
    }

    &__homevalue,
    &__awayvalue,
    &__namestat {
        &:nth-child(2n+1) {
            background-color: #8B939C11;
        }
    }
}

.lineup {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;

    @media (max-width: 834px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }



    &__subshome {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        text-align: left;

        @media (max-width: 834px) {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
    }

    &__subsaway {
        text-align: left;
        grid-column: 3 / 4;
        grid-row: 1 / 2;

        @media (max-width: 834px) {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
    }

    &__title {
        width: 10rem;
        text-align: center;
        padding: 0.2rem 0 0 2.5rem;
        margin: 0.2rem 0 0.5rem 0;
        font-weight: 600;
    }

}

.substitutes {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0.2rem;
    font-size: 0.7rem;
    border-bottom: 1px solid #183c4d;
    background-color: #d1d1d115;
    padding: 0.1rem;
    width: 100%;

    &__jersey {
        display: flex;
        position: relative;
        grid-column: 1 / 2;
        grid-row: 1 / span 2;
        width: 2.7rem;
        height: 2.7rem;
        border-radius: 50%;
        text-align: center;
        z-index: 1;
    }

    &__number {
        width: 1.4rem;
        height: 1.3rem;
        position: absolute;
        left: calc(50% - 0.7rem);
        top: 0.6rem;
        border-radius: 50%;
        font-size: 0.7rem;
        font-weight: 300;
        padding: 0.05rem 0 0 0;
        background-color: #0E131Faa;
    }

    &__name {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        font-size: 0.75rem;
    }

    &__position {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        font-size: 0.55rem;
        color: #eed963;
        font-size: 0.55rem;
    }

    &__card {
        position: absolute;
        top:  0.1rem;
        left: 0.1rem;
        z-index: 3;

    }

    &__change {
        position: absolute;
        width: 1rem;
        left: 1.5rem;
        top: 0.1rem;
        border-radius: 50%;
        background-color: #e0d9d9;
        border: 1px solid #00000088;
        z-index: 3;
    }

    &__goal {
        position: absolute;
        width: 1rem;
        bottom: 0.1rem;
        left: 0.1rem;
        z-index: 3;
    }

    &__goals {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0rem;
        bottom: 0.7rem;
        width: 0.8rem;
        height: 0.8rem;
        text-align: center;
        font-size: 0.9rem;
        border-radius: 50%;
        background-color: #108499;
        border: 1px solid #dfe0e0;
        z-index: 3;

        &--number {
            position: absolute;
            top: -0.4rem;
            font-weight: 600;
        }
    }
}

.jersey {
    position: absolute;
    width: 100%;
}

.field {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 19.5rem;
    height: 32rem;
    grid-column: 2 / 3;
    background-image: url('../../assets//field-image.svg');
    background-repeat: no-repeat;
    border: 2px solid #61abff00;

    @media (max-width: 834px) {
        grid-column: 1 / span 2;
        grid-row: 1 / 2;
    }

    &__home,
    &__away {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        width: 100%;
        height: 100%;

    }

    &__home {
        grid-row: 1 / 2;
        background-color: #e7181800;
    }

    &__away {
        grid-row: 2 / 3;
        background-color: #a4d32200;
    }
}


.starting {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.2fr;
    place-content: center;
    font-size: 0.7rem;
    text-overflow: ellipsis;



    &__home--1 {
        grid-column: 1 / span 4;
    }

    &__home--2 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    &__home--3 {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
    }

    &__home--4 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    &__home--5 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    &__home--6 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    &__home--7 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    &__home--8 {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }

    &__home--9 {
        grid-column: 3 / span 2;
        grid-row: 4 / 5;
    }

    &__home--10 {
        grid-column: 1 / span 2;
        grid-row: 4 / 5;
    }

    &__home--11 {
        grid-column: 4 / 5;
        grid-row: 3 / 4;
    }

    &__away--1 {
        grid-column: 1 / span 4;
        grid-row: 4 / 5;
    }

    &__away--2 {
        grid-column: 4 / 5;
        grid-row: 3 / 4;
    }

    &__away--3 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    &__away--4 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    &__away--5 {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }

    &__away--6 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    &__away--7 {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
    }

    &__away--8 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    &__away--9 {
        grid-column: 3 / span 2;
        grid-row: 1 / 2;
    }

    &__away--10 {
        grid-column: 1 / span 2;
        grid-row: 1 / 2;
    }

    &__away--11 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    &__jersey {
        display: grid;
        grid-template-rows: 1fr 1fr;
        position: relative;
        grid-column: 1 / 2;
        width: 2.3rem;
        height: 2.3rem;
        justify-self: center;
        border-radius: 50%;
        text-align: center;
        z-index: 1;
    }

    &__number {
        width: 1.2rem;
        height: 1rem;
        position: absolute;
        left: calc(50% - 0.6rem);
        top: 0.6rem;
        border-radius: 50%;
        font-size: 0.6rem;
        font-weight: 300;
        padding: 0.2rem 0 0 0;
        background-color: #0E131Faa;
    }

    &__name {
        font-size: 0.58rem;
        font-weight: 600;
        color: #000000;
        background-color: #dfdddd55;
        width: 4rem;
        border-radius: 0.5rem;
        text-shadow: 0 0 5px #ffffff;
        justify-self: center;

        &--home {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
        }

        &--away {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
        }
    }

    &__position {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        font-size: 0.55rem;
        color: #eed963;
        font-size: 0.5rem;
    }

    &__card {
        position: absolute;

    }

    &__change {
        position: absolute;
        width: 1rem;
        right: 0;
        border-radius: 50%;
        background-color: #e0d9d9;
        border: 1px solid #00000088;
    }

    &__goal {
        position: absolute;
        width: 1rem;
        bottom: 0;
        right: 0;
    }
}


.card__yellow--true {
    background-color: #ecc236;
    width: 0.75rem;
    height: 1rem;
    border-radius: 0.12rem;
    border: 1px solid #866e04;
}

.card__red--true {
    background-color: #fc2b24;
    width: 0.75rem;
    height: 1rem;
    border-radius: 0.12rem;
    border: 1px solid #8f1b13;
}

.manager {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 0.35rem;
    width: 13rem;
    height: 4rem;
    align-items: center;    
    background-color: #0E131F00;

    &__image {
        width: 1.5rem;
        background-color: #000000;
        border-radius: 50%;


    }

    &__name {
        font-size: 0.8rem;
        background-color: #000000;
        padding: 0 0.2rem;
        border-radius: 0 0.5rem 0.5rem 0;
        font-weight: 600;
    }

    &__home {
        left: -6.6rem;
        transform: rotate(90deg);
        top: calc(50% - 1rem);
    }

    &__away {
        right: -6.5rem;
        transform: rotate(270deg);
        bottom: calc(50% - 1rem);
    }
}