.fixtures {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 15rem;
  padding: 0.5rem;
  background-color: #183c4d;
}
.fixtures__match {
  width: 100%;
}
.fixtures__label {
  justify-self: left;
}
.fixtures__input {
  padding: 0.4rem 0.6rem;
  margin: 0.5rem 0.7rem 0.5rem 0.2rem;
}
.fixtures__send {
  padding: 0.4rem 1.5rem;
  background-color: #FF0035;
  border: 2px solid transparent;
  cursor: pointer;
}
.fixtures__send:hover {
  border-color: #8B939C;
}