.positions {
  display: flex;
  min-height: 15rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.table {
  width: 100%;
  position: relative;
  border: 1px solid #8B939C;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}
.table__teams {
  left: 0;
  width: 100%;
  min-width: 11rem;
}
.table__stats {
  width: 100%;
  min-width: 13rem;
  background-color: #191b22;
}

.container__stats {
  width: 100%;
  min-width: 8rem;
  height: 100%;
  background-color: #0E131F;
  overflow-x: auto;
}

.teams__title {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  background-color: #183c4d;
  color: #cee5ff;
  border-bottom: 1px solid #8B939C;
}
.teams__title--pos {
  max-width: 3rem;
  grid-column: 1/2;
}
.teams__title--team {
  grid-column: 2/span 3;
}

.stats__title {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  background-color: #59546C;
  color: #cee5ff;
  border-bottom: 1px solid #8B939C;
}