.player {
  display: grid;
  grid-template-columns: 2fr repeat(9, 1fr);
  grid-column: 1/span 10;
  transition: all 0.3s;
  margin-bottom: 0.2rem;
}
.player:hover {
  filter: brightness(220%);
}
.player__name {
  width: 100%;
  background-color: #0E131F;
  grid-column: 1/2;
  padding: 0.2rem 0;
  font-size: 0.8rem;
  width: 10.5rem;
  margin: 0.0025em 0.2rem 0.0025rem;
  text-align: left;
  padding: 0.2rem 0 0 0.3rem;
  border-bottom: 1px solid #7ec929bb;
}
.player__name--true {
  background-color: #1c303a;
}
.player__result {
  width: 5rem;
  align-self: center;
  justify-self: center;
  background-color: #0E131F;
  padding: 0.1rem 0;
  color: #e6c73d;
  font-weight: 600;
  border-left: 1px solid #2b302c;
  border-right: 1px solid #2b302c;
  border-top: 1px solid #2b302c;
}
.player__result--true {
  background-color: #182033;
}

.result__true {
  background-color: #0ff07f35;
  border: 1px solid #77e25c99;
}